body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background-color: darkblue;
    padding-left: 0px;
    padding-right: 0%;
}
h2{
    text-align:left;
}

* {
    box-sizing: border-box;
    margin: 0;
    border-spacing: auto;
    padding: 0;
}

.error {
    color: red;
    border-color: red;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,.col-50,.col-75 {
    padding: 0 16px;
}

.container {
    background-color: darkblue;
    padding: 3px 18px 13px 18px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}


input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(130, 26, 26);
    border-radius: 1px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #01BAEF;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);

}

.btn:hover {
    background-color: #0CBABA;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns 
    stack on top of each other instead of next to each other (also change the direction 
    - make the "cart" column go on top) 
*/
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}

/* css code by Brad for home page and home page menu */
/* home page background */
#products{
    background-color: blue;
}

/* search bar */
form.top-panel{ 
    
    float: left;
}
/* home nintendo,ps5 and xbox links */
a{ 
    padding: 10px;
    color: green;
    font-weight: bold;

}
div.a{
    display: block;
    border-spacing: 50em;
    background-color: red;
}

div a{
    border-bottom: 100px;
    border-spacing: 100cm;
    padding: 50px;
    border-top: 100px;
    border-bottom: 40px;
}

ul{
    /* list-style: none; */
    padding-inline-start: 0px;

}

ul li{
    list-style: none;
    /* background-color: darkblue; */
    display: inline-block;
    
    line-height: 4px;
    width: 134px;
    margin-bottom: 15px;
    text-align: center;
}

ul li a {
    display: block;
text-decoration: none;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
color: 9E9E9E;
padding:0 20px
}
ul #top-panel{
background-color: #FFFFFF;
border-spacing: 10em ;
}

/* for images */
.product-image{
    resize: vertical;
    width: 220px;
    height: 220px;
border-spacing: 20px;
}

.product-display{
align-items: center;
}
